.top-bar {
    width: 100%;
    height: 3rem;
}

.top-bar-content>div {
    display: inline-block;
}

.main-menu-phone, .main-menu-email {
    display: inline-block;
}

.main-menu-phone {
    margin-right: 23px;
}

ul {
    list-style: none;
}

.main-menu-social ul li {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 1px #d6d6d6;
    box-shadow: 0 0 1px 0 #d6d6d6 inset, 0 0 1px 0 #d6d6d6;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    margin-right: 7px;
}

.main-menu-phone svg, .main-menu-email svg {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

.main-menu-phone span, .main-menu-email span {
    font-family: gill,sans-serif;
    font-size: 14px;
    color: #838383;
    font-weight: 700;
    margin-left: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.main-menu-social {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
    margin-left: 29px;
}

.main-menu-social ul li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.main-menu-social ul li:hover a i {
    color: #003679;
}

.main-menu-social ul li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 11px;
    color: #d6d6d6;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.main-menu-phone span, .main-menu-email span {
    font-family: gill,sans-serif;
    font-size: 14px;
    color: #838383;
    font-weight: 700;
    margin-left: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}