.footer {
    padding-top: 7.5rem;
    background-color: #212529;
}

.footer-logo {
    position: absolute;
    top: -18px;
    left: 0px;
}

.logo {
    padding-left: 63px;
}

.logo-text {
    color: #fff;
}

.logo-img {
    position: absolute;
    left: 0;
    top: -10px;
    width: 57px;
    height: 38px;
}

.footer-text {
    color: #c2cbd7;
    line-height: 2.14;
    padding-top: 86px;
}

.footer-title {
    font-size: 24px;
    color: #FFFFFF;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.footer-links ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-top: 53px;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 9px;
}

.footer-links ul li a {
    font-size: 14px;
    color: #c2cbd7;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer-newsletter-form {
    display: block;
    position: relative;
    margin-top: 54px;
}

.footer-newsletter-input {
    width: 100%;
    height: 47px;
    background: transparent;
    border: solid 2px rgba(224, 227, 228, 0.17);
    padding-left: 26px;
    outline: none;
    color: #ffa800;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.footer-newsletter-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 127px;
    height: 47px;
    background: #ffa800;
    border: none;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.footer-newsletter-text {
    font-size: 11px;
    line-height: 2.18;
    color: #c2cbd7;
    font-style: italic;
    margin-top: 19px;
    padding-left: 3px;
}

.footer-social {
    margin-top: 2rem;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.copyright {
    width: 100%;
    margin-top: 110px;
    background: #090909;
}

.copyright-content {
    width: 100%;
    height: 70px;
    font-size: 13px;
    color: #697686;
}

.footer-nav {
    width: 100%;
    height: 70px;
    text-align: right;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 23px;
}

.footer-nav ul li a {
    font-family: 'gill', sans-serif;
    font-size: 13px;
    color: #697686;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}