<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="footer-logo">
                    <div class="logo">
                        <a href="">
                            <!-- <div class="logo-text">Schoolr</div> -->
                            <div class="logo-img">
                                <img src="https://upload.wikimedia.org/wikipedia/en/0/02/Meo_logo.svg" height="50" width="200" alt="">
                            </div>
                        </a>
                    </div>
                </div>

                <p class="footer-text">
                    Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem. Morbi ut
                    dapibus dui. Sed ut iaculis elit. Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu
                    tristique magna pharetra nec.
                </p>

            </div>

            <div class="col-3">
                <div class="container">
                    <div class="footer-links">
                        <div class="footer-title">Useful Links</div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Case Studies</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Consulting</a></li>
                            <li><a href="#">Commodities</a></li>
                            <li><a href="#">Insurance</a></li>
                            <li><a href="#">Trades</a></li>
                            <li><a href="#">Planning</a></li>
                            <li><a href="#">Finance</a></li>
                            <li><a href="#">Crypto</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="container">
                    <div class="footer-title">Subscribe to our newsletter</div>

                    <form action="#" class="footer-newsletter-form">
                        <input type="email" class="footer-newsletter-input" placeholder="Your E-mail"
                            required="required">
                        <button class="footer-newsletter-button" type="submit">subscribe</button>
                    </form>

                    <div class="footer-newsletter-text">Sed ut iaculis elit, quis varius mauris. Integer ut ultricies
                        orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit. Integer ut imperdiet
                        erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec.
                    </div>

                    <div class="footer-social">
                        <ul>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="copyright-content d-flex flex-column align-items-center justify-content-end">
                        Copyright © 2020 DataSmart eServices Pvt Ltd
                        <p>All Rights Reserved</p>
                    </div>                    
                </div>
                <div class="col-8">
                    <div class="footer-nav d-flex flex-row align-items-center justify-content-md-end">
                            <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>