<div class="row mr-0 mt-5">

    <!-- Side Navbar -->
    <div class="col-3 animated bounceInLeft">
        <app-support-nav></app-support-nav>
    </div>

    <div class="col-9">
        <div class="container">
            <div class="row animated bounceInDown">
                <div class="col-4">
                    <div class="features_item">
                        <div class="features_img">
                            <img src="https://cdn.dribbble.com/users/1919636/screenshots/5867037/illustration_office_v3-05-05-05.jpg"
                                alt="feature one">
                        </div>
                        <div class="features_item_content">
                            <div class="features_item_title">
                                <a href="#">We take care of you</a>
                            </div>
                            <div class="features_item_text">
                                <p>Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies
                                    orci,
                                    lobortis egestas sem.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">

                    <div class="features_item">
                        <div class="features_img">
                            <img src="https://cdn.dribbble.com/users/4240845/screenshots/8082245/media/569edfe1870336fe17620a4e94ac6d5b.jpg"
                                alt="feature one">
                        </div>
                        <div class="features_item_content">
                            <div class="features_item_title">
                                <a href="#">We take care of you</a>
                            </div>
                            <div class="features_item_text">
                                <p>Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies
                                    orci,
                                    lobortis egestas sem.</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-4">

                    <div class="features_item">
                        <div class="features_img">
                            <img src="https://cdn.dribbble.com/users/3116769/screenshots/9412016/media/a9fb86e2d046fa52f5676eaf72d78de2.jpg"
                                alt="feature one">
                        </div>
                        <div class="features_item_content">
                            <div class="features_item_title">
                                <a href="#">We take care of you</a>
                            </div>
                            <div class="features_item_text">
                                <p>Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies
                                    orci,
                                    lobortis egestas sem.</p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>



    </div>

    <!-- Contact Details -->
    <div class="col-3 mt-5">
        <div class="container mb-2 d-flex flex-row">
            <span class="mr-2"><i class="fa fa-home fa-2x" aria-hidden="true"></i></span>
            <div class="contact-details">
                <h5>The Platina, Hyderabad</h5>
                <p>#A1004 Gachibowli 500032</p>
            </div>
        </div>

        <div class="container mb-2 d-flex flex-row">
            <span class="mr-2"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></span>
            <div class="contact-details">
                <h5>00 (958) 9865 562</h5>
                <p>Mon to Fri 9am to 6 pm</p>
            </div>
        </div>

        <div class="container d-flex flex-row">
            <span class="mr-2"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
            <div class="contact-details">
                <h5>support@datasmart.com</h5>
                <p>Send us your query anytime!</p>
            </div>
        </div>
    </div>

    <!-- Contact Form -->
    <div class="col-9 mt-5 bg-light">
        <div class="row animated bounceInUp">
            <app-contact-form class="col"></app-contact-form>
        </div>

    </div>

</div>