<div class="container">
    <h4>Contact Form</h4>
    <form class="contact-form">
        <div class="row">

          <div class="col-6">
            <input type="text" class="form-control mb-20" placeholder="Enter your name" required>
            <input type="email" class="form-control mb-20" placeholder="Enter email address" required>
            <input type="text" class="form-control mb-20" placeholder="Enter subject" required>
          </div>

          <div class="col-6">
            <textarea name="message" class="form-control" placeholder="Enter Messege" required></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2 mb-4" style="float: right;">Submit</button>
      </form>
</div>