.contact-form textarea {
	height: 140px;
	margin-top: 0;
	padding: 15px;
}

.contact-form textarea {
	border-radius: 0;
	font-size: 13px !important;
}

.contact-form input {
	padding: 15px;
}

.contact-form input {
	border-radius: 0;
	font-size: 13px !important;
}

.mb-20 {
    margin-bottom: 20px;
}