<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card mb-3" style="width: 100%;">
                <img src="https://cdn.dribbble.com/users/877246/screenshots/3985943/dribbble.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">English</p>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card mb-3" style="width: 100%;">
                <img src="https://cdn.dribbble.com/users/2916340/screenshots/5688902/girl_reading_book_vector_illustration.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Mathematics</p>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card mb-3" style="width: 100%;">
                <img src="https://cdn.dribbble.com/users/3995683/screenshots/8711125/media/93c644f5a17dfe2362f7cf6ec91a8891.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Science</p>
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card mb-3" style="width: 100%;">
                <img src="https://cdn.dribbble.com/users/1932461/screenshots/3896522/tribble.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Social Studies</p>
                </div>
              </div>
        </div>

        <div class="col-sm-3">
            <div class="card mb-3" style="width: 100%;">
                <img src="https://cdn.dribbble.com/users/1978609/screenshots/9073949/media/646afef73d40e3a443d26d4dd298b972.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Hindi</p>
                </div>
              </div>
        </div>

        <div class="col-sm-3">
            <div class="card mb-3" style="width: 100%;">
                <img src="https://cdn.dribbble.com/users/17473/screenshots/4341605/soqola.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center">Telugu</p>
                </div>
              </div>
        </div>

    </div>

</div>