.img-box {
    width: 300px;
    height: 100px;
    text-align: center;
    border: 1px solid blue;
}

.desc-box {
    width: 300px;
    height: 100px;  
    padding: 50px;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid red;
    text-align: center;
}