<section class="menu-area">
  <div class="container">
    <ul class="filter-wrap filters col-lg-12 no-padding">
      <a [ngClass]="{'active': isAllResource}" (click)="setAllResource()">All Resources</a>
      <a [ngClass]="{'active': isGrade}" (click)="setGrades()" >Grades</a>
      <a [ngClass]="{'active': isSubject}" (click)="setSubjects()">Subjects</a>
      <a href="http://www.ncert.nic.in/">NCERT</a>
      <a href="https://en.wikipedia.org/wiki/Main_Page">Wiki</a>
      <a [ngClass]="{'active': isPublisher}" (click)="setPublishers()">Publishers</a>
      <a [ngClass]="{'active': isEdtech}" (click)="setEdtech()">Edtech Partners</a>
    </ul>
  </div>
</section>