<!-- Slider  -->
<div class="w-100">
    <app-carousel></app-carousel>
</div>

<!-- Features -->
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="features-content">
                    <div class="features-subtitle">
                        take a look at our
                    </div>
                    <div class="features-title">
                        The Features
                    </div>
                    <div class="features-text">
                        Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit.
                    </div>
                    <div class="features-button link-button">
                        <a href="">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="features-image">
                    <img src="https://cdn.dribbble.com/users/77598/screenshots/7268525/media/81092e67bb4c30a205d2d0005353d626.png" alt="">
                </div>
                <div class="features-content">
                    <div class="features-title">
                        <a href="#">We take care of you</a>
                    </div>
                    <div class="features-text">
                        <p>Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="features-image">
                    <img src="https://cdn.dribbble.com/users/2043038/screenshots/4680669/_________2-02.png" alt="">
                </div>
                <div class="features-content">
                    <div class="features-title">
                        <a href="#">Fast support & updates</a>
                    </div>
                    <div class="features-text">
                        <p>Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem.</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="features-image">
                    <img src="https://cdn.dribbble.com/users/1170435/screenshots/4699527/rencontres-numeriques-800x600.jpg" alt="">
                </div>
                <div class="features-content">
                    <div class="features-title">
                        <a href="#">Well documented</a>
                    </div>
                    <div class="features-text">
                        <p>Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- First Section -->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6">
            <div class="system_content">
                <div class="system_title_container">
                    <div class="system_subtitle">take a look at our</div>
                    <div class="system_title">Get to know the NASDAQ trading system</div>
                    <div class="system_text">Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut
                        ultricies orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit. Integer ut
                        imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel
                        lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas
                        tempor leo</div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="system_image">
                <div class="system_background"
                    style="background-image:url('https://cdn.dribbble.com/users/992274/screenshots/6412657/school_3_kit8-net.png');">
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Second Section -->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 nopadding order-lg-1 order-2">
            <div class="info_image">
                <div class="info_background"
                    style="background-image:url(https://cdn.dribbble.com/users/1458982/screenshots/9514275/media/cf0e0bef04a9981869126b97c8018a14.png);">
                </div>
            </div>
        </div>

        <div class="col-lg-6 nopadding order-lg-2 order-1">
            <div class="info_content">
                <div class="info_title_container">
                    <div class="info_subtitle">take a look at our</div>
                    <div class="info_title">Get to know the NASDAQ trading system</div>
                    <div class="info_text">Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut
                        ultricies orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit. Integer ut
                        imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel
                        lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas
                        tempor leo</div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Third Section -->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6">
            <div class="system_content">
                <div class="system_title_container">
                    <div class="system_subtitle">take a look at our</div>
                    <div class="system_title">Get to know the NASDAQ trading system</div>
                    <div class="system_text">Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut
                        ultricies orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit. Integer ut
                        imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel
                        lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas
                        tempor leo</div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 nopadding">
            <div class="system_image">
                <div class="system_background"
                    style="background-image:url('https://cdn.dribbble.com/users/918632/screenshots/2688314/yup_landingpage_800x600.jpg');">
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Fourth Section -->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 nopadding order-lg-1 order-2">
            <div class="info_image">
                <div class="info_background"
                    style="background-image:url(https://cdn.dribbble.com/users/1355613/screenshots/6424710/communication.jpg);">
                </div>
            </div>
        </div>

        <div class="col-lg-6 nopadding order-lg-2 order-1">
            <div class="info_content">
                <div class="info_title_container">
                    <div class="info_subtitle">take a look at our</div>
                    <div class="info_title">Get to know the NASDAQ trading system</div>
                    <div class="info_text">Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut
                        ultricies orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit. Integer ut
                        imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec. Fusce vel
                        lorem libero. Integer ex mi, facilisis sed nisi ut, vestibulum ultrices nulla. Aliquam egestas
                        tempor leo</div>
                </div>
            </div>
        </div>

    </div>
</div>